alembic==1.13.3
annotated-types==0.7.0
anyio==4.13.0
beautifulsoup4==4.14.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
contourpy==1.3.2
cryptography==46.0.6
cycler==0.12.1
Cython==3.2.4
distro==1.9.0
dnspython==2.8.0
ecdsa==0.19.2
email_validator==2.2.0
exceptiongroup==1.3.1
fastapi==0.115.0
fire==0.7.1
fonttools==4.62.1
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
ImageIO==2.37.3
imgaug==0.4.0
jiter==0.13.0
jsonpatch==1.33
jsonpointer==3.1.1
kiwisolver==1.5.0
langchain-core==0.3.83
langchain-openai==0.2.2
langsmith==0.7.25
lazy-loader==0.5
lmdb==2.2.0
lxml==6.0.2
Mako==1.3.10
MarkupSafe==3.0.3
matplotlib==3.10.8
networkx==3.4.2
numpy==1.26.4
openai==1.109.1
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opt-einsum==3.3.0
orjson==3.11.8
packaging==25.0
paddleocr==2.8.1
paddlepaddle==3.3.1
pillow==10.4.0
protobuf==7.34.1
psycopg==3.2.1
psycopg-binary==3.2.1
psycopg2==2.9.11
pyasn1==0.6.3
pyclipper==1.4.0
pycparser==3.0
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
PyMuPDF==1.24.11
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
python-jose==3.3.0
python-multipart==0.0.12
PyYAML==6.0.3
RapidFuzz==3.14.3
regex==2026.4.4
requests==2.33.1
requests-toolbelt==1.0.0
resend
rsa==4.9.1
safetensors==0.7.0
scikit-image==0.25.2
scipy==1.15.3
shapely==2.1.2
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.3
SQLAlchemy==2.0.35
starlette==0.38.6
tenacity==9.1.4
termcolor==3.3.0
tifffile==2025.5.10
tiktoken==0.12.0
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
uuid_utils==0.14.1
uvicorn==0.30.6
uvloop==0.22.1
watchfiles==1.1.1
weasyprint==62.3
websockets==16.0
xxhash==3.6.0
zstandard==0.25.0
